In [1]:
import json
import requests
import os
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from lxml import html
import re

In [14]:
# Esta es la url utilizada
base = 'http://api.openweathermap.org/data/2.5/weather?q='
key = '&APPID=ba1936c4224e58eb3472930c52596698'
units = '&units=metric'
busqueda = 'Madrid'
url = base + busqueda + units + key
print(url)

http://api.openweathermap.org/data/2.5/weather?q=Madrid&units=metric&APPID=ba1936c4224e58eb3472930c52596698

In [3]:
# Esta es la url utilizada
base = 'http://api.openweathermap.org/data/2.5/weather?id='
key = '&APPID=ba1936c4224e58eb3472930c52596698'
units = '&units=metric'
busqueda = '3117735'
url = base + busqueda + units + key
print(url)

http://api.openweathermap.org/data/2.5/weather?id=3117735&units=metric&APPID=ba1936c4224e58eb3472930c52596698

In [15]:
# Hacemos la primera llamada a la API

response = requests.get(url)
results = response.json()
# results = results['id']
results

{'coord': {'lon': -3.7, 'lat': 40.42},
 'weather': [{'id': 800,
   'main': 'Clear',
   'description': 'clear sky',
   'icon': '01d'}],
 'base': 'stations',
 'main': {'temp': 30.18,
  'pressure': 1013,
  'humidity': 25,
  'temp_min': 27.78,
  'temp_max': 32},
 'visibility': 10000,
 'wind': {'speed': 3.1, 'deg': 250},
 'clouds': {'all': 0},
 'dt': 1561402593,
 'sys': {'type': 1,
  'id': 6443,
  'message': 0.0077,
  'country': 'ES',
  'sunrise': 1561351522,
  'sunset': 1561405728},
 'timezone': 7200,
 'id': 3117735,
 'name': 'Madrid',
 'cod': 200}

In [5]:
results.keys()

dict_keys(['coord', 'weather', 'base', 'main', 'visibility', 'wind', 'clouds', 'dt', 'sys', 'timezone', 'id', 'name', 'cod'])

In [6]:
results['coord']

{'lon': -3.7, 'lat': 40.42}

In [10]:
data = pd.io.json.json_normalize(results)
data

,base,clouds.all,cod,coord.lat,coord.lon,dt,id,main.humidity,main.pressure,main.temp,...,sys.id,sys.message,sys.sunrise,sys.sunset,sys.type,timezone,visibility,weather,wind.deg,wind.speed
0,stations,0,200,40.42,-3.7,1561402352,3117735,25,1013,30.25,...,6443,0.0082,1561351522,1561405728,1,7200,10000,"[{'id': 800, 'main': 'Clear', 'description': '...",250,3.1

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 24 columns):
base             1 non-null object
clouds.all       1 non-null int64
cod              1 non-null int64
coord.lat        1 non-null float64
coord.lon        1 non-null float64
dt               1 non-null int64
id               1 non-null int64
main.humidity    1 non-null int64
main.pressure    1 non-null int64
main.temp        1 non-null float64
main.temp_max    1 non-null int64
main.temp_min    1 non-null float64
name             1 non-null object
sys.country      1 non-null object
sys.id           1 non-null int64
sys.message      1 non-null float64
sys.sunrise      1 non-null int64
sys.sunset       1 non-null int64
sys.type         1 non-null int64
timezone         1 non-null int64
visibility       1 non-null int64
weather          1 non-null object
wind.deg         1 non-null int64
wind.speed       1 non-null float64
dtypes: float64(6), int64(14), object(4)
memory usage: 272.0+ bytes

In [13]:
data['main.temp']

0    30.25
Name: main.temp, dtype: float64

In [16]:
data

,base,clouds.all,cod,coord.lat,coord.lon,dt,id,main.humidity,main.pressure,main.temp,...,sys.id,sys.message,sys.sunrise,sys.sunset,sys.type,timezone,visibility,weather,wind.deg,wind.speed
0,stations,0,200,40.42,-3.7,1561402352,3117735,25,1013,30.25,...,6443,0.0082,1561351522,1561405728,1,7200,10000,"[{'id': 800, 'main': 'Clear', 'description': '...",250,3.1

In [17]:
data['weather']

0    [{'id': 800, 'main': 'Clear', 'description': '...
Name: weather, dtype: object